@import url('./styles/reset.css');

:root {
  --dark: #1E1E1E; /* Ciemny kolor - fonry */
  --orange: #F96B20; /* Intensywny pomarańczowy - akcenty, przyciski *//* Jasny pomarańczowy - akcenty, tło */
  --light-orange: #FEC5A7;
  --light-bg: #FFF4EE; /* Bardzo jasny pomarańczowy - tło, elementy */
  --lightest-bg: #FFEFE7;
  --white: #FFFFFF; /* Biały - tekst, tło */
}
  
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-clash-display), sans-serif;
  font-size: 16px;
  color: var(--dark);
  background: linear-gradient(113.33deg, var(--lightest-bg) 5.76%, var(--white) 86%);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

.container {
  width: min(85%, 1600px);
  margin: auto;
  position: relative;
}

.containerBig {
  width: min(94%, 1800px);
  margin: auto;
  position: relative;
}

@media (max-width: 1024px) {
  .container {
    width: min(90%, 1600px);
    margin: auto;
  }
}

.fontLightOrange {
  color: var(--light-orange);
}

.fontOrange {
  color: var(--orange);
}

.fontDark {
  color: var(--dark);
}

.line {
  top: 0;
  position: absolute;
  z-index: -1;
  width: 0.5px; /* Szerokość linii */
  background-color: #FFDECD; /* Kolor linii */
  height: 100%; /* Linia na całą wysokość */
}

.line-1 {
  left: 23%;
}

.line-2 {
  left: 41%;
}

.line-3 {
  right: 41%;
}

.line-4 {
  right: 23%;
}

.bigText {
  font-size: clamp(36px, 4vw, 96px);
  line-height: 1;
  font-weight: 500;
}

.lightShadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bgLight {
  background-color: var(--light-bg);
}

.bgLightOrange {
  background-color: var(--light-orange);
}

.callToAction {
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.gm-style-iw-chr {
  height: 12px;
}

.textWithIcon {
  display: flex;
  padding: 4px 0;
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .textWithIcon {
    flex-direction: column;
    gap: 12px;
  }
}

.mb24 {
  margin-bottom: 24px;
}

.mt24 {
  margin-top: 24px;
}

.mtb48 {
  margin: 48px 0;
}