.button {
  display: flex;
  width: fit-content;
  gap: 16px;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 0;
  background-color: transparent;
  border-bottom: 2px solid;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

.arrowRight {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  animation-delay: .4s;
  transform-origin: center 8px;
}

.button:hover .arrowRight {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}

