.heroImageMask {
  position: relative;
  width: 100%;
  aspect-ratio: 9 / 8.4;
  height: auto;
  /* mask-image: url('../../public/images/mask.svg'); Dodaj ścieżkę do Twojego SVG */
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  /* -webkit-mask-image: url('../../public/images/mask.svg'); */
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  overflow: hidden;
}

.heroImageMask img {
  width: 100%;
  height: auto;
  object-fit: cover;
}